<div class="contact__container">
  <h2>Información de contacto</h2>
  <p>Contacta con nosotros para informarte sobre nuestros cursos y competiciones en:</p>
  <ul>
    <li>Correo electrónico: <a href="mailto:calicanto@tenis.com">calicanto@tenis.com</a></li>
    <li>Teléfono: <a href="tel:+34600000000">600 000 000</a></li>
  </ul>
</div>
<footer class="footer">
  <a href="/src/index.html">
    <img src="/src/assets/images/tennis.png" alt="Logo academia" width="75">
  </a>
  <nav>
    <ul>
      <li>
        <a href="/src/index.html">Inicio</a>
      </li>
      <li>
        <a href="/src/featured.html">Destacados</a>
      </li>
      <li>
        <a href="/src/bio.html">Sobre la liga</a>
      </li>
      <li>
        <a href="/src/contact.html">Contacto</a>
      </li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li>
        <a href="#">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
    </ul>
  </nav>
</footer>