<footer class="footer">
  <a href="/src/index.html">
    <img src="/src/assets/images/tennis.png" alt="Logo academia" width="75">
  </a>
  <nav>
    <ul>
      <li>
        <a href="/src/index.html">Inicio</a>
      </li>
      <li>
        <a href="/src/featured.html">Destacados</a>
      </li>
      <li>
        <a href="/src/bio.html">Sobre la liga</a>
      </li>
      <li>
        <a href="/src/contact.html">Contacto</a>
      </li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li>
        <a href="#">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
    </ul>
  </nav>
</footer>